<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="counter/{{counterTab}}" (click)="count()">
      <ion-icon name="apps-outline"></ion-icon>
      <ion-label>Contador</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="info" (click)="presentAlert()">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Info App</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="navigator">
      <ion-icon name="globe-outline"></ion-icon>
      <ion-label>Navegar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="info-dev">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Info</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
